<div class="container pt-4">
  <div class="row">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Contact Manager App!</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui illum voluptatem eos
          aspernatur. </p>
        <a class="btn btn-primary btn-lg" routerLink="/contacts/add" role="button">Create New Contact</a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="card col-sm-3" *ngFor="let user of userList">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.phone}}</p>
        <a routerLink="/contacts/{{user.id}}" class="card-link">View Details</a>
      </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="isError">
      Unable to load users. Some error occured! Try again later!
    </div>
    
  </div>

</div>